@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	background: #276020 url(images/img01.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #61D953;
}
#wrapper {
	padding: 0;
	background: url(images/main-image-bg.jpg) no-repeat center top;
}
#menu {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 1000px;
    padding: 0px;
	padding-top: 0px;
	padding-right-value: 0px;
	padding-bottom: 0px;
	padding-left-value: 0px;
	padding-left-ltr-source: physical;
	padding-left-rtl-source: physical;
	padding-right-ltr-source: physical;
	padding-right-rtl-source: physical;
    margin: 0px auto 30px;
	margin-top: 0px;
	margin-right-value: auto;
	margin-bottom: 30px;
	margin-left-value: auto;
	margin-left-ltr-source: physical;
	margin-left-rtl-source: physical;
	margin-right-ltr-source: physical;
	margin-right-rtl-source: physical;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#menu li {
    display: inline-block;
}
#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    color: red;
}
#menu a {
    display: block;
    padding: 15px 40px;
    background: none repeat scroll 0% 0% rgb(12, 62, 26);
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald',sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: rgb(179, 255, 170);
    border: medium none;
}
#menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    line-height: normal;
    text-align: left;
}
#logo {
    width: 960px;
    height: 150px;
    margin: 0px auto 30px;
    color: rgb(0, 0, 0);
}
#logo a {
    background: none repeat scroll 0% 0%;
    text-decoration: none;
    color: yellow;
}
#logo h1, #logo p {
    margin: 0px;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
		padding: 0px;
        padding-top: 0px;
        padding-right-value: 0px;
        padding-bottom: 0px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
}
#logo p {
    text-align: left;
    color: rgb(255, 255, 255);
}
#logo h1 {
    line-height: 100px;
    letter-spacing: -1px;
    text-align: center;
    font-size: 3.8em;
}
#header {
    width: 1000px;
    height: 150px;
    margin: 0px auto;
	margin-top: 0px;
	margin-right-value: auto;
	margin-bottom: 0px;
	margin-left-value: auto;
	margin-left-ltr-source: physical;
	margin-left-rtl-source: physical;
	margin-right-ltr-source: physical;
	margin-right-rtl-source: physical;
}
#banner{
	width: 1000px;
	margin: auto ;
	padding: 10px 0px;
	border-top: 0px dashed rgb(6, 48, 0);
	border-bottom: 0px dashed rgb(6, 48, 0);
}
#topBanner{
	background:#A2DBF0;
	height:30px;
	width:auto;
}
#leftBanner{
	background:#CFD6D3;
	height:auto;
	min-height:500px;
	width:30%;
	float:left;
}
#rightBanner{
	background:#C1E6F9;
	height:auto;
	min-height:500px;
	width:auto;
	float:none;
}
#footer {
	background:#CFD6D3;
    overflow: hidden;
    width: auto;
    height: 30px;
    margin: 0px auto;
    padding: 40px 0px 15px;
}
#footer p {
    margin: 0px;
    padding-top: 20px;
    line-height: normal;
    text-align: center;
    color: blue;
}
#footer a {
    color: red;
	text-decoration: none;
}
